/*voor ID gebruik je een '#'
voor class gebruik je een '.'*/

body {
    background-color: #F4511E;
    font-family: 'Montserrat', sans-serif;
}
.bovenfoto {
    width: 100%;
}
.stukje {
    background-color: whitesmoke;
    padding: 30px;
    border: 0.4px solid black;
    border-radius: 25px;
}
.navigatiestrook{
    padding-bottom: 15px;
}
.rood{
   color: red;
}
.jumbotron{
    background-color: #F4511E;
    margin-bottom: 20px;
    padding: 20px;
}
.video{
    opacity: 100%;
}
.fotostukjes{
    background-color: whitesmoke;
    padding: 30px;
    border: 0.4px solid black;
    border-radius: 25px;
    width: 80%;
    
}