/*voor ID gebruik je een '#'
voor class gebruik je een '.'*/

body {
    background-color: lightblue;
    font-family: 'Montserrat', sans-serif;
}
.bovenfoto {
    width: 100%;
}
.stukje {
    
}
.jumbotron {    
    border: 5px solid black;
}
.persoonlijkStukje{
    background-color: antiquewhite;
    padding: 30px;
    border: 5px solid black;    
}
.navigatiestrook{
    padding-bottom: 15px;
}
.rood{
   color: red;
}
